#!/usr/bin/env xonsh
# -*- coding: utf-8 -*-
import os
$XONSH_STORE_STDOUT = True
{% for k, v in env_exports.items() %}
${{k}}="{{v}}"
{% endfor %}
from pyquanda.host.xonsh import QuestionPrompt
QuestionPrompt()
