Welcome [bold]{{firstname}}[/]!

When you move onto a new module, [code]less[/] will automatically drop you into a screen like this.
You can use normal [code]less[/] keybindings, and use [code]q[/] to quit and resume the questions.

You can enter the [code]b[/] command to see this screen again from any module.

You can enter the [code]i[/] command to view the module introduction again as well.
