interview@host  $ foo
xonsh: For full traceback set: $XONSH_SHOW_TRACEBACK = True
xonsh: subprocess mode: command not found: foo
Did you mean one of the following?
    EOF:  Alias
    go:   Command (go)
    od:   Command (od)
    fg:   Alias
    pon:  Command (pon)
